body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: #f0f0f0;
}

.flexer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2%;
}

h1 {
    margin-left: -25%;
    color: red;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
}
.flexer .top-content {
    margin-left: 20%;
    font-family: "Permanent Marker", cursive;
    font-size: large;
}

#board {
    display: grid;
    justify-content: center;
    margin: 20px auto;
    width: min(80vw, 80vh);
    height: min(80vw, 80vh);
    box-sizing: border-box;
    border-radius: 5%;
}

#gameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    gap: 20px;
    background-color: black;
}

.player-image {
    width: 300px;
    height: 300px;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
}

.active {
    opacity: 1;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(251, 94, 4);
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    cursor: pointer;
    box-sizing: border-box;
    padding: 49.5%;
    border-radius: 20%;
}

.cell:hover {
    background-color: #f9f9f9;
}

#message {
    font-size: 1.2em;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 20px;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 25%;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    margin: 0% auto; 
    padding: 20px;
    color: white;
    font-size: 70px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
